extends layout

block content
    script(src="/javascripts/todoView.js?ver=2020-10-01")

    section.container
        table.table.table-striped
            tr
                th 작성일자
                td= todoVO.t_date
                th 작성자
                td= todoVO.t_write
                th 조회수
                td= todoVO.t_count
            tr
                th 제목
                td(colspan="7")= todoVO.t_title
            tr
                td(colspan="8")= todoVO.t_text
    
    article.container.d-flex.justify-content-end.p3
        button(data-id=todoVO._id).view-btn.btn.btn-primary 본문수정
        button(data-id=todoVO._id).view-btn.btn.btn-danger 삭제
        button.view-btn.btn.btn-success 목록으로